@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

main{
    position: relative;
}

body{
    background-color: #1A1A1A;
    color: #F9F9F9;
    font-family: 'DM Sans', sans-serif;
    max-height: 100vh;
}

.container{
    padding: 2.5% 5%;
    max-height: 100vh;
}

.nav{
    width: 100%;
}

.nav-item{
    padding: 2rem;
    display: flex;
    align-items: center;
}

.nav-items{
    display: flex;
    justify-content: end;
}

.nav-link{
    text-decoration: none;
    color: #F9F9F9;
    font-size: 1.2rem;
}

.nav-link:hover{
    text-decoration: underline;
}

.header{
    display: flex;
    justify-content: space-around;
}

.portifolio-link{
    font-size: 1.5rem;
    font-weight: 700;
}

.my-name{
    height: 700;
    font-size: 36px;
    max-width: 70%;
    margin-bottom: 10px;
}

.my-name:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
} 

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.text-secondary{
    color: #828282;
    font-size: 18px;
    height: 500;
}

.inicial{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}


.btns-inicial{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn{
    padding: 17px;
    width: 50%;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

.btn:hover{
    text-decoration: underline;
}

.btn:nth-child(1){
    margin-right: 10px;
}

.inicial-info{
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.btn-primary{
    background-color: #00DF5E;
    color: #171717;
}

.btn-secondary{
    background-color: transparent;
    border: 2px solid #333333;
    color: #F9F9F9;
}

.about-me-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.about-me-title{
    text-align: center;
    padding: 20px;
}

.about-me{
    max-width: 50%;
    text-align: center;
    height: 400;
    color: #828282;
}

.hc-link{
    text-decoration: none;
    color: #828282;
}

.hc-link:hover{
    color: #F9F9F9;
    text-decoration: underline;
}

.contact{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    color: #828282;
    height: 400;
}

.info-title{
    padding-top: 5px;
    padding-bottom: 1px;
}

.contact{
    margin-top: 200px;
}

.projects-section{
    margin-top: 100px;
    text-align: center;
}

.projects-principal-title{
    padding: 40px;
}

.card-project{
    max-width: 350px;
    min-width: 350px;
    min-height: 240px;
    max-height: 240px;
    background-color: #212121;
    border: 1px solid #333333;
    box-sizing: border-box;
    text-align: start;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.black-card {
    min-width: 300px;
    max-width: 300px;
    min-height: 130px;
    max-height: 130px;
    object-fit: contain;
}

.project-title{
    margin: 10px 0px;
    text-decoration: none;
    color: #F9F9F9;
}

.project-title:hover{
    text-decoration: underline;
    color: #F9F9F9;
}

.my-skills-section{
    margin-top: 100px;
    text-align: center;
    padding-bottom: 40px;
}

.my-skills-title{
    height: 700;
    padding: 80px;
}

.my-skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-skills-icon {
    margin: 20px 40px;
}