@media (max-width: 540px) {
    .nav-items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portifolio-link{
        display: none;
    }

}

@media (max-width: 790px) {
    .contact{
        display: flex;
        flex-direction: column;
    }

    .my-skills{
        display: flex;
        flex-direction: column;
    }

    .icon{
        margin: 50px 0;
    }

    .inicial{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inicial-info{
        margin-bottom: 80px;
    }

    .inicial-info{
        max-width: 70%;
    }
    
    .my-name{
        max-width: 70%;
    }

}

@media (max-width: 541px) {
    .inicial-info{
        max-width: 100%;
        text-align: center;
    }
    
    .my-name{
        max-width: 100%;
    }
}

@media (max-width: 760px) {
    .about-me{
        max-width: 70%;
    }
}

@media (max-width: 712px) {
    .nav-item{
        padding: 1.1rem;
    }
}
